<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">



	<!-- a.包扫描(扫描除了controller以外的所有组件) b.加载jdbc.properties配置文件 c.配置数据源(druid连接池) 
		d.事务管理器 配置mybatis相关内容 sqlsessionfactorybean mapper接口的位置 数据源 映射器(sql映射文件) -->
	<!-- 除了controller以外的东西 -->
	<context:component-scan base-package="com.zdy" use-default-filters="true">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 加载配置文件,注意;用classpath: -->
	<context:property-placeholder location="classpath:jdbc.properties" />

	<!--配置数据源：alibaba提供的数据源 -->
	<!-- com.alibaba.druid.pool.DruidDataSource -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	
	
	<!--配置事务管理 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!--开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<!--开启注解aop		注意：如果是maven项目可能没有jar包 -->
	<aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>


	<!-- 配置mybatis -->
	<bean class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 加载配置文件 -->
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
		<!-- 制定sql所在文件 -->
		<property name="mapperLocations" value="classpath:sqlMapper/*.xml"></property>
	</bean>
	
	<!-- 制定mapper所在接口位置 -->
	<mybatis-spring:scan base-package="com.zdy.dao"/>

</beans>
