<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.zdy.dao.StudentMapper">
	<!--注意:type后面跟的是全限定名,如果不是,可以在config.xml中配置  -->
	<resultMap type="Student" id="base_result">
		<id column="s_id" property="stuId"/>
		<result column="s_name" property="stuName"/>
		<result column="s_password" property="stuPassword"/>
		<result column="s_email" property="stuEmail"/>
		<result column="s_age" property="stuAge"/>
		<result column="s_photo_url" property="stuPhotoUrl"/>
		<result column="s_url" property="stuUrl"/>
		<result column="s_remark" property="stuRemark"/>
	</resultMap>
	
	
	<!--查询所有的用户名和密码  -->
	<select id="queryStudents" resultMap="base_result">
		select * from student 
	
	</select>

	<!-- 查询用户名，邮箱，和密码对应的用户是否存在 -->
	<select id="queryStudentNameOrPassword" resultMap="base_result">
		select * from student
		<where>
			<if test="stuName!= null and stuName!='' ">
				s_name = #{stuName}
			</if>
			<if test="stuEmail !=null and stuEmail !=''">
				and s_email = #{stuEmail}
			</if>
			<if test="stuPassword !=null and stuPassword !=''">
				and s_password = #{stuPassword}
			</if>
		</where>
	</select>



	<!-- 修改密码 -->
	<!-- UPDATE student SET s_password ='456' WHERE s_email = '947161829@qq.com' -->
	<update id="updatePassword" parameterType="Student">
		UPDATE student 
		<set>
			<if test="stuPassword !=null and stuPassword!=''">
				s_password =#{stuPassword} 
			</if>
		</set>
		<where>
			s_email = #{stuEmail}
		</where>
	</update>
	
	
</mapper>













